  *{
    font-family: sans-serif;
  }
  body{
      background-color: #222222;
      
  }
  
  #main {
        width: 80%;
        margin: auto;
        height: auto;
        /* border: 5px solid red; */
        /* padding: 30px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap:80px;
      }
      .c {
        width: 451px;
        height: 377px;
        position: relative;
        /* border: 5px solid red; */

        /* background-color: aqua; */
      }
      #outer {
        width: 377.5px;
        height: 360px;
        /* border: 5px solid yellow; */
        opacity: 1; 

        /* background-color: green; */
      }

      #inner {
        width: 400px;
        height: 360px;
        position: absolute;
        top:-.01px;
        left: 80px;
        

        background-image: radial-gradient(circle at left center, rgba(0, 0, 0, 0.3) 0px, rgb(0, 0, 0) 25%);
      }

      .btnClass{
          height: 20px;
          width: 87%;
          /* border:solid 1px white; */
          padding: 15px;
          margin-left: 0px;
      }
      .descriptionClass{
          height: 280px;
          width: 100%;
          /* border:solid 1px white; */
      }
      .description{
        color: white;
        margin-left:20px;
        font-size:14px;
      }

      .title{
            color: #DD625E;
            margin-left: 20px;
      }

      .instructorClass{
          height: 80px;
          width: 100%;
          /* border:solid 1px red; */
         
      }
      .descrClass{
          height: 100px;
          width: 100%;
          /* border:solid 1px green; */
      }
      .timeClass{
          height: 40px;
          width: 100%;
        display: inline-block;

          /* border:solid 1px yellow */
      }
      .time{
          color:#6f7e78;
          margin-left:20px;
          margin-top: 3px;

      }
      .caption{
        color:#222;
        margin-left: 5px;
        background-color:rgb(138, 138, 138);
        padding:0 4px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;

      }


.instructor_img{
    height: 78px;
    width: 78px;
    border-radius: 100%;
    margin-left: 20px;

}
.instructorName ,.instructorOrg{
    color: white;
    margin-left: 10px;
}

.anchorClass{
     display: flex;
          flex-direction: row;

}
.instructorName{
     margin-top:15px;
   
}


      #btn1{
    background-color:#C02D28;
    color: white;
    padding: 10px 20px;
    /* height: 45px; */
    margin-left: 0px;
    border: none;
    border-radius:40px;
    line-height:1.25;
}
#btn2{
    background-color:#c94f17;
    color: white;
    padding: 10px 20px;
    /* height: 45px; */
    margin-left: 5px;
    border: none;
    border-radius:40px;
    line-height:1.25;
}



    @media all and (max-width:768px) and (min-width:381px){
      
     #main {
        grid-template-columns: repeat(1 ,1fr);
     }

       #inner {
        width: 400px;
        height: 360px;
        position: absolute;
        top:-.01px;
        left: 80px;

        background-image: radial-gradient(circle at left center, rgba(0, 0, 0, 0.3) 0px, rgb(0, 0, 0) 25%);
      }


     }
     @media all and (min-width: 50px) and (max-width: 380px) {
        #main {
        grid-template-columns: repeat(1 ,1fr);
     }
       #inner {
        width: 400px;
        height: 360px;
        position: absolute;
        top:-.01px;
        left: 80px;

        background-image: radial-gradient(circle at left center, rgba(0, 0, 0, 0.3) 0px, rgb(0, 0, 0) 25%);
      }
    }

    #courses_img{
    height: 100%;
    width: 100%;
}