
    
    body{
        background-color:#222;
    }
    
        #main img{
            height:573px;
            width:100%;
            position: relative;
            
            
    }
          #logo img{
              position: absolute;
               margin-top: -460px;
              height:280px;
              width:280px;
              padding-left: 220px;
          }
         #heading {
               position: absolute; 
              margin-top: -460px;
              color: #e6e6e6;
              padding-left: 550px;
              font-size: 16px;
              font-family: Open, Helvetica, sans-serif;
              line-height: 40px;
          }
          #para{
              line-height: 25px;
              font-family: Arial, Helvetica, sans-serif;
          }
          button{
              height:60px;
              width:220px;
              border-radius: 30px;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 18px;
              background-color: #c02d28;
              color: white;
              border: none;
          }
         i{
             font-size:50px;
             margin-left: 10px;
             color:gray;
              padding: 8px;
              box-sizing: border-box;
              background-color: #e6e6e6;
              border-radius: 50%;
              margin-top: 10px;
        
         }
         #main2{
             height:3000px;
             width:100%;
             /* border:2px solid blue; */
         }
           #content{
               height:300px;
               width:490px;
               /* border:1px solid yellow; */
               margin-left: 165px;
               margin-top: 70px;
               line-height: 35px;
               font-size: 18px;
               font-family: Arial, Helvetica, sans-serif;
               color:#e6e6e6;
           }
    
               #content2{
                   line-height: 25px;
                   color: #e6e6e6;
               }
               hr{
                   
                   width:65%;
                   color:1px solid grey;
               }
               #swap{
                   height:300px;
                   width:45%;
                   /* border: 2px solid green; */
                   margin-left: 100px;
                   margin-top: 20px;
               }
             #swap img{
                height:300px;
                   width:90%;
                   /* border: 2px solid green; */
                   margin-left: 60px;
                   margin-top: 20px;
               }
               #para2{
                   height:200px;
                   width:35%;
                   /* border:1px solid cyan; */
                   margin-left: 750px;
                   margin-top: -250px;
                   color: #e6e6e6;
                   line-height: 25px;
                   font-size: 19px;
                   
               }
    
               #hr2 hr{
                   width:65%;
                   margin-top: 90px;
               }
               #bootcamp{
                   height:60px;
                   width:25%;
                   /* border:1px solid red; */
                   margin-left: 520px;
                   font-size: 30px;
                   color: #e6e6e6;
                   font-family: Arial, Helvetica, sans-serif;
                   margin-top: 30px;
               }
    
    
               #que{
                   height: 800px;
                   width:60%;
                   /* border: 2px solid cyan; */
                   margin-left: 20%;
                   line-height: 60px;
                   font-size: 20px;
                   font-family: Arial, Helvetica, sans-serif;
               }
               #abc{
                   display: grid;
                   grid-template-columns: 400px 200px;
                   line-height: 30px;
                   margin-left: 390px;
                   padding-left: 10px;
                   width: 540px;
                   margin-top: 0px;
                   border-bottom: 1px solid grey;
                   /* border-right: 1px solid blue; */
               }
               #anchor>a{
                 display: block;
                  color: #dd625e;
                   font-size: 21px;
                   font-family: Arial, Helvetica, sans-serif;
               }
               #anchor{
                   padding-top: 10px;
                   line-height: 60px;
               }
               #hour{
                   font-size: 16px;
                   color:#e6e6e6;
                   line-height: 44px;
                   /* border:1px solid green */
               }
              #total{
                margin-top: 15px;
                   margin-left: 400px;
                   color:white;
                   font-size: 20px;
                   font-family: Arial, Helvetica, sans-serif;
               }
               #to{
                margin-top: -25px;
                margin-left: 800px;
                color: #e6e6e6;
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
            }
            #content3{
               height:350px;
               width:480px;
               /* border:1px solid yellow; */
               margin-left: 145px;
               margin-top: 170px;
               
               line-height: 45px;
               font-size: 18px;
               font-family: Arial, Helvetica, sans-serif;
               color:#e6e6e6;
           }
           #tag{
               line-height: 25px;
           }
    
    
    
           form {
      width: 40%;
      /* border:2px solid lime; */
      margin: 30px auto;
      
    }
    #form > form {
      background: #3e3e3e;
    
       /* border:2px solid pink;  */
      width: 35%;
      height:670px;
      margin: 10px auto;
      padding: 60px;
      padding-top: 15px;
      margin-left: 670px;
      margin-top: -450px;
      
    }
    #form > form > h2 {
      background:#3e3e3e;
      color: #e6e6e6;
      text-align: left;
      margin-bottom: 12px;
      font-size: 30px;
    }
    #form > form > #input {
      background-color: #e6e6e6;
      border-radius: 7px;
      border: none;
    }
    #form > form > input {
      background-color: #e6e6e6;
      border-radius: 7px;
      width: 97%;
      padding: 7px 12px;
      font-size: 17px;
      margin: 0px;
      margin-bottom: 12px;
      outline: none;
      border: none;
    }
    #form .form-div {
      display: flex;
      background-color: #3e3e3e;
    }
    #form .form-div > div {
      background-color: #3e3e3e;
      width: 50%;
    }
    #form .form-div > div:first-child {
      margin-right: 46px;
    }
    #form .form-div > div > p {
      background-color: #3e3e3e;
      color: #fff;
      margin-bottom: 12px;
    }
    #form .form-div > div > input {
      background-color: #e6e6e6;
      border-radius: 7px;
      width: 92%;
      padding: 7px 12px;
      font-size: 17px;
      margin: 0px;
      margin-bottom: 12px;
      outline: none;
      border: none;
    }
    
    #form > form > p {
      background: #3e3e3e;
      color: #e6e6e6;
      margin-bottom: 12px;
      font-size: 19px;
    }
    #form > form > p > span {
      background: #3e3e3e;
      color: #e6e6e6;
      margin: 25px 0 0 208px;
      font-size: 19px;
    }
    #form > form > .g-recaptcha {
      margin: 20px 0;
      width: 46%;
      height: 80px;
    }
    #form > form > #terms {
      /* border:2px solid white; */
      /* background-color: #2b2727; */
      color: rgba(255, 255, 255, 0.705);
      width: 100%;
      margin: 20px 0;
      padding: 10px 6px;
    }
    #form > form > #terms > p {
      /* background-color: #2b2727; */
      font-size: 15px;
    }
    #form > form > #terms > p > a {
      color: rgba(255, 0, 0, 0.61);
      /* background-color: #2b2727; */
    }
    #form > form > #button {
      height: 70px;
      width: 200px;
      border-radius: 40px;
      background-color: #c02d28;
      border: none;
      font-size: 22px;
      color: white;
    }
    
    
    
    #la{
        line-height: 40px;
    }
    
    #ref{
        color: #c02d28;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #bottom{
        margin-top: 100px;
    
        
    }
    #faQ{
        height:40px;
        width:100px;
        /* border: 1px solid cyan; */
        margin-top: 40px;
        margin-left: 600px;
        padding-top: 20px;
        color: white;
        padding-left: 10px;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #que{
        height:350px;
        width:800px;
        /* border: 1px solid cyan; */
        margin-top: 20px;
        margin-left: 270px;
        padding-top: 20px;
        color: white;
        padding-left: 10px;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #ch1{
        height:40px;
        width:90%;
         /* border: 1px solid cyan;  */
        color: white;
    background-color:#891814;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 15px;
        align-content: center;
        margin-left: 40px;
        padding-left: 20px;
    }
    #ch2{
           width: 91%;
            font-size: 15px;
            margin-left: 40px;
            margin-right: 30px;
            line-height: 28px;
             /* border: 1px solid red;  */
            background-color: white;
            color: #3e3e3e;
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 10px;
    
    }
    .ch3{
        height:45px;
        width:91%;
        border: 1px solid gray;
        font-size: 15px;
        background-color: #d3d3d3;
        color: rgb(12, 12, 12);
        font-size: 20px;
        font-weight: 700;
        margin-left: 40px;
        padding-left: 9px;
    }
    #frame{
        height:320px;
        width:560px;
        /* border:1px solid green; */
        margin-left: 520px;
        margin-top: -280px;
    
    }
    /* #main {
        position: absolute;
    } */

#clip1 {
    clip-path: polygon(0 70%, 0% 100%, 100% 100%);
    height: 250px;
    width: 100%;
    background-color: #000000d0;
    position: relative;
    margin-top: -250px;

}
#clip2 {
    height: 250px;
    width: 100%;
    background-color: #000000d0;
    position: relative;
    margin-top: -250px;
    clip-path: polygon(0 100%, 100% 70%, 100% 100%, 0 100%);

}
    @media all and (min-width:50px) and (max-width:380px){

        #main img{
            height:700px;
            width:100%;
            position: relative;
            
            
    }
    #logo img{
              position: absolute;
               margin-top: -640px;
              height:200px;
              width:205px;
              padding-left: 60px;
          }

          #heading {
               position: absolute; 
              margin-top:-450px;
              color: #e6e6e6;
              padding-left:50px;
              font-size: 14px;
              font-family: Open, Helvetica, sans-serif;
              line-height: 40px;
              text-align: center;
              width: 250px;
          }
          .fa-twitter{
              display:none;
              background-image: none;
            
         }

        #content,#content2{

text-align: center;
margin-left: 10px;

height: auto;
font-size: 14px;
        }
        #content>h2{
               width: 250px;
               margin-left: 50px;
               margin-top: -50px;
        }
        #content2{
            width: 250px;
               margin-left: 50px;
               margin-top: -20px;
               color: #e6e6e6;
    font-family: Open Sans,sans-serif;
    font-size: 17px;
    line-height: 1.5;
    
        }
        #frame{
        height:250px;
        width:530px;
        /* border:1px solid green; */
        margin-left: 0px;
        margin-top: -0px;
       
    }

    #para2{
                   height:200px;
                   width:310px;
                   /* border:1px solid cyan; */
                   margin-left: 20px;
                   /* margin-top: -250px; */
                   color: #e6e6e6;
                   line-height: 20px;
                   font-size: 14px;
                 
    
               }
               #swap img{
                   height:150px;
                   width:400px;
               
                    margin-left: 100px; 
                    margin-top: 280px;
                    margin-left: -100px; 
                    padding-right: 10px;
               }   
               #hr2 hr{
                   width:65%;
                   margin-top: 0px;
               }

               #bootcamp{
                   height:90px;
                   width:75%;
                   /* border:1px solid red; */
                   margin-left: 80px;
                   font-size: 20px;
                   color: #e6e6e6;
                   font-family: Arial, Helvetica, sans-serif;
                   margin-top: 210px;
               }
               #abc{
                   display: grid;
                   grid-template-columns: 170px 120px;
          
                   
                 margin-left: 30px;
                   width: 300px;
                   margin-top: 0px;
                   border-bottom: 1px solid grey;
                   font-size: 10px;
                   
               }
               #anchor>a{
                 display: block;
                  color: #dd625e;
                   font-size: 18px;
                   font-family: Arial, Helvetica, sans-serif;
             padding-bottom: 18px;
             /* line-height: 35px; */
              
               }
               #anchor{
                   padding-top: 10px;
                   line-height: 30px;
                   
               }
               
               #hour{
                   font-size: 16px;
                   color:#e6e6e6;
                   line-height: 25px;
                   margin-left: 40px;
                   margin-top: -5px;
                   
                   /* border:1px solid green */
               }
               #total{
                   margin-left: 40px;
                   width: 160px;
                   font-size: 16px;
               }
               #to{
                   margin-left: 240px;
                   font-size: 16px;
                   margin-top: -35px;

               }
               #content3{
               height:350px;
               width:480px;
               /* border:1px solid yellow; */
               margin-left: -60px;
               margin-top: 120px;
               text-align: center;
               line-height: 45px;
               font-size: 13px;
               font-family: Arial, Helvetica, sans-serif;
               color:#e6e6e6;
           }
           #tag{
               display: block;
               line-height: 20px;
               width: 200px;
               margin-left: 140px;
               
           }
             #form{
                 margin-left:-660px;
                 width: 600px;
                 margin-top: 400px;
                 padding-top: 0px;
             }
             #la{
                     line-height: 25px;
                     width: 250px;
        }
                #faQ{
                    margin-left: 130px;
                    font-size: 26px;
                }
                        #que{
                            margin-left: -30px;
                            width: 400px;
                        }
                       #ch1{
                           width:230px;
                           height: 60px;
                           line-height: 30px;
                           margin-left: 60px;

                       }
                       #ch2{
                           width: 240px;
                           height:400px;
                           margin-left: 60px;

                       }
                       .ch3{
                           width: 240px;
                           height:85px;
                           line-height: 30px;
                           margin-left: 60px;

                       }
                 }
                
    