.header {
    width: 100%;
    background: linear-gradient(90deg, #c02d28, #e66225);
    color: #e6e6e6;
    position: relative;
    z-index: 99;
    position: relative;
  }
  body {
    font-family: Open Sans,sans-serif;
    background-color: #222;
  }
  *{
      margin: 0;
      padding: 0;
      
  }
  .header-wrap {
    background: rgba(0, 0, 0, 0.7);
    padding: 14px 112px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .header-wrap .left {
    width: 40%;
  }
  .header-wrap .left .logo {
    width: 250px;
  }
  .header-wrap .left .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .header-wrap .right ul {
    display: flex;
    align-items: center;
  }
  .header-wrap .right ul li:last-child {
    background-color: #c02d28;
    border-radius: 40px;
    transition: background 0.2s ease;
    margin-left: 14px;
  }
  .header-wrap .right ul li:last-child a {
    line-height: 40px;
    padding: 0px 4px;
    font-size: 17px;
    color: #fff;
  }
  .header-wrap .right ul li:last-child:hover {
    background: #d43530;
  }
  .header-wrap .right ul li {
    list-style: none;
  }
  .header-wrap .right ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #aaaaaa;
    transition: color 0.2s ease;
  }
  .header-wrap .right ul li a:hover {
    color: #e6e6e6;
  }
  
  .header .diagonal {
    fill: #e66225;
    height: 24px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .menu {
    display: none;
  }
  .mobile {
    display: none;
  }
  
  @media all and (max-width: 768px) and (min-width: 381px) {
    .header-wrap {
      padding: 14px;
    }
  }
  
  @media all and (min-width: 50px) and (max-width: 380px) {
    .header-wrap {
      padding: 11px 12px;
    }
    .header-wrap .left .logo {
      width: 197px;
    }
    .header-wrap .right {
      display: none;
    }
    .mobile {
      display: none;
      background: rgba(0, 0, 0, 0.7);
      text-align: left;
      padding: 11px 12px;
    }
    .header .active {
      display: block;
    }
    .mobile ul li {
      list-style: none;
      margin-bottom: 18px;
    }
    .mobile ul li a {
      color: #aaaaaa;
      text-decoration: none;
    }
    .mobile ul li:last-child {
      background-color: #c02d28;
      border-radius: 40px;
      transition: background 0.2s ease;
      text-align: center;
    }
    .mobile ul li:last-child a {
      line-height: 40px;
      padding: 0px 4px;
      font-size: 17px;
      color: #fff;
    }
    .menu {
      display: flex;
    }
    .menu .icon {
      font-size: 32px;
    }
  }